@font-face {
  font-family: SVN;
  /*src:url('../fonts/SVN-Harabaras.ttf');*/
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight:normal;
  font-style:normal;
}
body {
  font-family: SVN !important;
  letter-spacing: 1px;
}
#header{
  z-index: 2;
  position: fixed;
  width: 100%;
  background: #ffffff;
}
.scroll-down {
  top: 0px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.scroll-up {
  top: -100px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
a {
  text-decoration: none;
  color: #389cd7;
}

a:hover {
  text-decoration: none !important;
  color: #389cd7;
  cursor: pointer;
}

.btn-handle {
  display: inline-block;
  padding: 7px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: 600;
}

.btn-blue {
  background: #389cd7;
  color: #fff!important;
}

.btn-green {
  background: #2da24a;
  color: #fff;
}

.btn-green:hover,
.btn-blue:hover {
  color: #fff;
}

.bdr-none {
  border-radius: 0 !important;
}

.flex {
  display: flex;
}

.img-circle {
  border-radius: 50%;
  border: 2px solid #fff;
}

.bg-blue {
  background: #389cd7;
}

.fs-25 {
  font-size: 25px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-35 {
  font-size: 35px;
}

.fs-45 {
  font-size: 45px;
}

.text-blue-dark {
  color: #0b0146;
}

.text-white {
  color: #fff !important;
}

.text-blue {
  color: #389cd7 !important;
}

.flex-1 {
  flex: 1;
}

.border-dark {
  border: 1px solid #000000;
}

.block {
  padding: 70px 0;
}

.line {
  background: #000000;
  height: 2px;
  width: 100px;
}

.logo {
  width: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__item {
  flex: 0 0 1;
}

.header .header__menu a {
  font-weight: 600;
  padding: 0 15px;
  display: inline-block;
}

@media (max-width: 576px) {
  .block {
    padding: 30px 0;
  }

  #banner-pc {
    display: none;
  }

  #footer-pc {
    display: none;
  }
}

@media (min-width: 576px) {
  #banner-mobile {
    display: none;
  }

  #footer-mobile {
    display: none;
  }
}

#harm {
  padding: 60px 0;
}

#harm .title {
  font-size: 30px;
}

#harm .list-harm {
  display: flex;
  padding-top: 30px;
}

#harm .list-harm__item {
  flex: 0 0 25%;
  padding: 0 30px;
}

#harm .list-harm__item .item-content {
  height: 100%;
  text-align: center;
}

#harm .list-harm__item .item-content__image {
  padding: 20px 0;
}

#harm .list-harm__item .item-content__image img {
  width: 100px;
  height: 100px;
}

#harm .list-harm__item .item-content__text {
  padding: 20px;
}

#harm .list-harm__item .item-content__text span {
  /*font-weight: 600;*/
  color: #fff;
}

@media (max-width: 576px) {
  #harm {
    padding: 20px 0;
  }

  #harm .title {
    font-size: 22px;
  }

  #harm .list-harm {
    padding-top: 10px;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  #harm .list-harm__item {
    flex: 0 0 50%;
    padding: 10px;
  }

  #harm .list-harm__item .item-content__text {
    font-size: 0.8rem;
    padding: 10px;
  }
}

#banner3 {
  background-image: url('../images/banner3.png');
  background-size: cover;
  background-position: center center;
  min-height: 800px;
}

#banner3 .banner-content {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30px;
}

#banner3 .banner-content .title {
  font-size: 35px;
  margin-bottom: 30px;
}

#banner3 .banner-content p {
  margin: 0 !important;
}

#banner3 .banner-content iframe {
  width: 40%;
  height: 400px;
}

#banner3 .banner-content .desc {
  font-size: 18px;
}

@media (max-width: 576px) {
  #banner3 {
    min-height: 500px;
    padding: 0 1rem;
  }

  #banner3 .banner-content .title {
    font-size: 16px;
  }

  #banner3 .banner-content p {
    margin: 0 !important;
  }

  #banner3 .banner-content iframe {
    width: 100%;
    height: 200px;
  }

  #banner3 .banner-content .desc {
    margin-top: 20px;
    font-size: 12px;
  }
}

.doctor-intro {
  padding: 10px 20px 0;
}

.doctor-intro__content {
  padding: 30px 10px 0;
  font-weight: 600;
}

.doctor-intro__content .content-left {
  flex: 0 0 35%;
}

.doctor-intro__content .content-left .doctor-name {
  margin-top: 20px;
}

.text-promise{
  font-size: 1.5rem;
}
.btn-orange{
  background: #e77e01;
  color: #ffffff;
}
.text-red{
  color: red;
}
@media (max-width: 768px) {
  .doctor-intro {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .doctor-intro__content {
    flex-direction: column;
    padding: 15px;
  }

  .doctor-intro__content .content-left {
    padding-bottom: 20px;
  }

  .doctor-intro__content .content-left .doctor-name {
    margin-top: 10px;
  }

  .doctor-intro__image {
    text-align: center;
  }
}

.list-price {
  padding-top: 70px;
}

.list-price__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100%/3);
  position: relative;
}

.list-price__item .item-content {
  margin-bottom: 40px;
}

.list-price__item .item-image {
  padding: 10px 0;
}

.list-price__item .item-image img {
  width: 100px;
  height: 100px;
}

.list-price__item .item-method {
  font-size: 20px;
  width: 60%;
  margin: 0 auto 10px;
}

.list-price__item .item-price {
  position: relative;
  font-size: 60px;
  margin-bottom: 15px;
  color: #C91D27;
}

.list-price__item .item-price__sale {
  position: absolute;
  top: -5px;
  right: 10%;
}

.list-price__item .item-desc {
  text-align: justify;
  width: 85%;
  margin: 0 auto;
}

.list-price__item .item-special {
  position: absolute;
  top: 0;
  right: 0;
}

.list-price__item .item-special img {
  width: 60px;
}

.list-price__item .item-button {
  margin-bottom: 25px;
}

.list-price__item:first-child {
  padding-right: 30px;
}

@media (max-width: 576px) {
  .list-price {
    background: #E6E6E6;
    margin: 0 -15px;
    padding: 20px;
    flex-direction: column;
  }

  .list-price__item {
    background: #fff;
    margin-bottom: 15px;
    width: 100%;
  }

  .list-price__item:first-child {
    background: none;
    padding-right: 0px;
  }

  .list-price__item:first-child .image {
    text-align: center;
  }
}

.list-review {
  padding: 60px 0;
  display: flex;
}

.list-review__item {
  width: 25%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.list-review__item .review-image {
  margin-bottom: 20px;
}

.list-review__item .review-image img {
  width: 100px;
  height: 100px;
  border: none;
}

.list-review__item .review-name .line {
  height: 1px;
  width: 30px;
}

@media (max-width: 576px) {
  .list-review {
    flex-direction: column;
    padding: 30px 0;
  }

  .list-review__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .list-review__item .review-image {
    margin-bottom: 10px;
  }

  .list-review__item .review-name .line {
    height: 1px;
    width: 30px;
  }

  .list-review__item p {
    margin-bottom: 10px;
  }
}

.time {
  margin: 0px 0 70px;
  background-image: url("../images/banner dong ho.jpg");
  background-size: cover;
  height: 500px;
  background-position: center center;
}

.time .count-time {
  text-align: center;
  width: 50%;
  padding: 60px 0;
}

.time .count-time .count-time__title {
  font-size: 65px;
}

.time .count-time .list-time {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.time .count-time .list-time__item {
  flex: 0 0 15%;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.time .count-time .list-time__item .item__count {
  font-size: 50px;
}

.time .count-time .list-time__item .item__unit {
  font-size: 16px;
}

@media (max-width: 576px) {
  .time {
    margin: 0;
    background-image: url("../images/banner dong ho.jpg");
    height: 250px;
  }

  .time .count-time {
    padding: 20px 0 0 10px;
    width: 100%;
    text-align: left;
  }

  .time .count-time .count-time__title {
    font-size: 30px;
    padding-left: 15px;
  }

  .time .count-time .list-time {
    padding-top: 0px;
    justify-content: flex-start;
  }

  .time .count-time .list-time__item .item__count {
    font-size: 30px;
  }

  .time .count-time .list-time__item .item__unit {
    font-size: 13px;
  }
  .text-promise{
    font-size: 1.5rem;
  }
}

.book-time {
  /*padding-bottom: 70px;*/
}

.book-time .title {
  text-transform: uppercase;
  font-size: 35px;
}

.book-time .form-book-time input {
  width: 240px;
  padding: 6px 0;
  color: #8580A2;
  border: none !important;
  outline: none;
  border-bottom: 1px solid #8580A2 !important;
}

.book-time .form-book-time button {
  cursor: pointer;
} 

.book-time .promise {
  padding: 30px 0 60px;
}

.book-time .promise span {
  /*font-size: 15px;*/
  padding: 5px 10px;
  border-radius: 15px;
  color: #fff;
  /*font-weight: 600;*/
  /*background: #389cd7;*/
}

@media (max-width: 576px) {
  .book-time {
    padding: 30px 0;
  }

  .book-time .title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .book-time .form-book-time input {
    width: 240px;
    padding: 6px 0;
  }

  .book-time .promise {
    padding: 20px 0 30px;
  }

  .book-time .promise span {
    /*font-size: 12px;*/
  }
}

